.input-component{
    width: 468px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 12px;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-style: normal;
}


.input-label{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color:#6F6F6F;
}
